* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
        height: auto;
        width: auto;
        background-color: #21243d;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        flex-wrap: wrap;
}
.logo {
    height: 50px;
    width: 200px;
    background-image: url(sushi_logo.svg);
    background-repeat: no-repeat;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}
a {
    font-size: 29px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
    color: white;
    font-size: 25px;
    gap: 30px;
}

@media only screen and (max-width:600px){

    #navbar {
        height: auto;
        width: auto;
        background-color: #21243d;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: column;
   }

    ul {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    }    
}
/*---------------------------------- main-1 starts---------------- */
#main1 {
    height: auto;
    width: auto;
    flex-direction: column;
    background-image: url(main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    filter: hue-rotate(15deg);
    flex-wrap: wrap;
}
 .text {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
     flex-direction: column;
    gap: 40px;
} 
.text > h1 {
    font-size: 140px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: left;
}
.text > .lorem1 {
    width: 600px;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 150px;
}
.main1-btn {
    width: 322px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;

}

@media only screen and (max-width:600px) {
    #main1 {
        height: auto;
        width: auto;
        flex-direction: column;
        background-image: url(main_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 130px;
        filter: hue-rotate(15deg);
        flex-wrap: wrap;
    }
     .text {
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: start;
         flex-direction: column;
        gap: 40px;
    } 
    .text > h1 {
        font-size: 140px;
        color: #ffffff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        text-align: left;
    }
    .text > .lorem1 {
        width: 300px;
        font-size: 32px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        font-weight: 150px;
    }
    .main1-btn {
        width: 322px;
        height: 65px;
        border-radius: 33px;
        background-color: #21243d;
        font-size: 25px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
    
    }
}
/*---------------------------------- main-1 end---------------- */

/*---------------------------------- main-2 starts---------------- */
#main2 {
    height: auto;
    width: auto;
    background-color: #21243d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px;
    flex-wrap: wrap;
    gap: 100px;
}
.m2-t1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.m2-t1 > h1 {
    height: auto;
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: 200px;
}
.m2-t1 > .lorem2 {
     height: auto;
     width: 700px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #ffffff;
     font-size: 30px;
     font-weight: 50px;
}
.m2-groups {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
.m2-g1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.m2-img1 {
    height: 300px;
    width: 320px;
    border-radius:50%;
    background-color: violet;
    background-repeat: no-repeat;
}
.m2-img2 {
    height: 300px;
    width: 300px;
    border-radius:50%;
    background-color: violet;
    background-repeat: no-repeat;
}
.m2-img3 {
    height: 300px;
    width: 300px;
    border-radius:50%;
    background-color: violet;
    background-repeat: no-repeat;
}
.m2-img1 > .img1 {
    height: 300px;
    width: 320px;
    border-radius:50%;
}
.m2-img2 > .img2 {
    height: 300px;
    width: 300px;
    border-radius:50%;
}
.m2-img3 > .img3 {
    height: 300px;
    width: 300px;
    border-radius:50%;
}
.m2-h4 {
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.m2-gr-lorem {
    width: 260px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}
@media only screen and (max-width:600px) {
    #main2 {
        height: auto;
        width: auto;
        background-color: #21243d;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 70px;
        flex-wrap: wrap;
        gap: 100px;
    }
    .m2-t1 {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .m2-t1 > h1 {
        height: auto;
        width: 270px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        font-size: 80px;
        font-weight: 200px;
    }
    .m2-t1 > .lorem2 {
         height: auto;
         width: 300px;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         color: #ffffff;
         font-size: 30px;
         font-weight: 50px;
    }
    .m2-groups {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;
    }
    .m2-g1 {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    .m2-img1 {
        height: 300px;
        width: 320px;
        border-radius:50%;
        background-color: violet;
        background-repeat: no-repeat;
    }
    .m2-img2 {
        height: 300px;
        width: 300px;
        border-radius:50%;
        background-color: violet;
        background-repeat: no-repeat;
    }
    .m2-img3 {
        height: 300px;
        width: 300px;
        border-radius:50%;
        background-color: violet;
        background-repeat: no-repeat;
    }
    .m2-img1 > .img1 {
        height: 300px;
        width: 320px;
        border-radius:50%;
    }
    .m2-img2 > .img2 {
        height: 300px;
        width: 300px;
        border-radius:50%;
    }
    .m2-img3 > .img3 {
        height: 300px;
        width: 300px;
        border-radius:50%;
    }
    .m2-h4 {
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
    }
    .m2-gr-lorem {
        width: 260px;
        font-size: 17px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
    } 
}
/*---------------------------------- main-2 end---------------- */

/*---------------------------------- main-3 starts---------------- */
#main3 {
    height: auto;
    width:auto;
    padding: 70px;
    background-color: #ffd17e;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
}
.main3-a {
height: auto;
width: auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* gap: 20px; */
}
.main3-b {
height: auto;
width: auto;
display: flex;
justify-content: center;
}
.main3-a-heading > h1 {
width: 500px;
font-size: 100px;
color: #21243d;
font-weight: 600;
font-family: "Poppins";
}
.main3-a-lrm > p {
width: 500px;
font-size: 30px;
letter-spacing: 0px;
color: #21243d;
font-weight: 400;
font-family: "Poppins";
}
.main3-a-btn > button {
        width: 322px;
        height: 65px;
        border-radius: 33px;
        background-color: #21243d;
        font-size: 25px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
}
.main3-b > img {
width: 506px;
height: 480px;
border-radius: 50%;
}
@media only screen and  (max-width:500px) {
#main3 {
    height: auto;
    width:auto;
    padding: 70px;
    background-color: #ffd17e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 50px;
}
.main3-a {
height: auto;
width: auto;
display: flex;
flex-direction: column;
justify-content: space-between;
justify-items: center;
gap: 20px;
}
.main3-a-heading > h1 {
    width: 300px;
    font-size: 100px;
    color: #21243d;
    font-weight: 600;
    font-family: "Poppins";
}
.main3-a-lrm > p {
    width: 300px;
    font-size: 30px;
    letter-spacing: 0px;
    color: #21243d;
    font-weight: 200px;
    font-family: "Poppins";
}
.main3-b-img > img {
    width: 306px;
    height: 280px;
}
}

/*---------------------------------- main-4 starts---------------- */
#main4 {
    height: auto;
    width: auto;
    background-color: #21243d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    flex-wrap: wrap;
    gap: 100px;
}
.m4-t1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.m4-t1 > h1 {
    height: auto;
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 80px;
    font-weight: 200px;
}
.m4-t1 > .lorem4 {
     height: auto;
     width: 700px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #ffffff;
     font-size: 30px;
     font-weight: 50px;
}
.m4-groups {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
.m4-g1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.m4-img1 {
    height: 300px;
    width: 320px;
    border-radius:50%;
    background-color:  #21243d;
    border: 10px solid white;
    /* background-repeat: no-repeat; */
}
.m4-img2 {
    height: 300px;
    width: 300px;
    border-radius:50%;
    background-color:  #21243d;
    border: 10px solid white;
    /* background-repeat: no-repeat; */
}
.m4-img3 {
    height: 300px;
    width: 300px;
    border-radius:50%;
    background-color:  #21243d;
    border: 10px solid white;
    /* background-repeat: no-repeat; */
}
.m4-img1 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
.m4-img2 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
.m4-img3 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
@media only screen and (max-width:600px) {
    #main4 {
        height: auto;
        width: auto;
        background-color: #21243d;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 70px;
        flex-wrap: wrap;
        gap: 100px;
    }
    .m4-t1 {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .m4-t1 > h1 {
        height: auto;
        width: 270px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        font-size: 80px;
        font-weight: 200px;
    }
    .m4-t1 > .lorem4 {
         height: auto;
         width: 300px;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         color: #ffffff;
         font-size: 30px;
         font-weight: 50px;
    }
    .m4-groups {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;
    }
    .m4-g1 {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
    .m4-img1 {
        height: 300px;
        width: 320px;
        border-radius:50%;
        background-color:  #21243d;
        border: 10px solid white;
        /* background-repeat: no-repeat; */
    }
    .m4-img2 {
        height: 300px;
        width: 300px;
        border-radius:50%;
        background-color:  #21243d;
        border: 10px solid white;
        /* background-repeat: no-repeat; */
    }
    .m4-img3 {
        height: 300px;
        width: 300px;
        border-radius:50%;
        background-color:  #21243d;
        border: 10px solid white;
        /* background-repeat: no-repeat; */
    }
}
.m4-img1 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
.m4-img2 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
.m4-img3 > p {
    height: 300px;
    width: 200px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 50px;
    padding-left: 70px;
    text-align: center;
}
/*---------------------------------- main-4 end---------------- */

/*---------------------------------- main-5 starts---------------- */
#main5 {
    height: auto;
    width:auto;
    padding: 50px;
    background-color: #ffd17e;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
}
.main5-a {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.main5-b {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
.main5-a-heading > h1 {
    width: 500px;
    font-size: 100px;
    color: #21243d;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main5-a-lrm > p {
    width: 500px;
    font-size: 30px;
    letter-spacing: 0px;
    color: #21243d;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main5-a-btn > button {
        width: 322px;
        height: 65px;
        border-radius: 33px;
        background-color: #21243d;
        font-size: 25px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
}
    .main5-b > img {
    width: 506px;
    height: 480px;
    border-radius: 50%;
    }
@media only screen and  (max-width:500px) {
#main5 {
    height: auto;
    width:auto;
    padding: 70px;
    background-color: #ffd17e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}
.main5-a {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    gap: 20px;
}
.main5-a-heading > h1 {
    width: 300px;
    font-size: 100px;
    color: #21243d;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main5-a-lrm > p {
    width: 300px;
    font-size: 30px;
    letter-spacing: 0px;
    color: #21243d;
    font-weight: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main5-b-img > img {
    width: 306px;
    height: 280px;
}
}
/*---------------------------------- main-5 end---------------- */

/*---------------------------------- main-7 Starts---------------- */
    #main7 {
        height: auto;
        width: auto;
    }
    .bg-7{
        background-image: url(main7.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .lorem7 {
        width: 900px;
        height: 200px;
        font-size: 42px;
        color: white;
        font-weight: 400;
        font-family: "Montserrat";
        text-align: center;
    }
    .head-7 {
        width: 2753px;
        height: 100px;
        font-size: 55px;
        color: #ffffff;
        font-weight: bolder;
        font-family: "Montserrat";
        text-align: center;
    }
    .img7 {
        height: 300px;
        width: 300px;
        border-radius:50%;
    }

    @media only screen and (max-width:600px) {
        
        .bg-7{
            background-image: url(main7.svg);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            gap: 90px;
        }
        
        .lorem7 {
            width: 500px;
            height: 200px;
            font-size: 42px;
            color: white;
            font-weight: 400;
            font-family: "Montserrat";
            text-align: center;
            gap: 90px;
        }
    }

/*---------------------------------- main-7 end---------------- */

/*---------------------------------- main-6 starts---------------- */
#main6 {
    height: auto;
    width: auto;
    display: flex;
    background-color: #ffd17e;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
}
.main6-h1 {
    font-size: 100px;
    color: #21243d;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lorem6 {
    height: auto;
    width: 900px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #21243d;
    font-size: 30px;
    font-weight: 80px;
}
.searchbar {
    width: 700px;
    height: 65px;
    background-color: #ffffff;
    /* border: 2px solid black; */
    border-radius: 30px;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
}
input[type="text"]
 {
    width: 300px;
    height: 65px;
    border-color: #ffffff;
    /* color: black; */
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    font-weight: bold;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    border-left: none;
    border-right: none;
    border: none;
}
::placeholder {
    font-size: 20px;
}
.btn-6 > button {
    width: 230px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    #main6 {
        height: auto;
        width: auto;
        display: flex;
        background-color: #ffd17e;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 100px;
        gap: 30px;
    }
    .main6-h1 {
        font-size: 90px;
        color: #21243d;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .lorem6 {
        height: auto;
        width: 400px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #21243d;
        font-size: 30px;
        font-weight: 80px;
    }
    .searchbar {
        width: 400px;
        height: 65px;
        background-color: #ffffff;
        border: 2px solid black;
        border-radius: 30px;
        display: flex;
        padding-left: 15px;
        justify-content: space-between;
        align-items: center;
    }
    input[type="text"]
     {
        width: 300px;
        height: 65px;
        border-color: #ffffff;
        color: black;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        font-weight: bold;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: none;
        border-right: none;
    }
    ::placeholder {
        font-size: 20px;
    }
    .btn-6 > button {
        width: 130px;
        height: 65px;
        border-radius: 33px;
        background-color: #21243d;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    }
}
/*---------------------------------- main-6 end---------------- */

/*---------------------------------- main-8 starts---------------- */
#main8 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #ffffff;
    padding: 50px;
}
.A {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.A1 {
    width: 400px;
    font-size: 50px;
    font-weight: 20px;
    color: #ffffff;
}
.A2 {
    width: 400px;
    font-size: 20px;
    color: #ffffff;
}
.A3 {
    width: 400px;
    display: flex;
    padding: 20px;
    justify-content: left;
    align-items: center;
    color: white;
    gap: 20px;
}
.B {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.B1 {
    width: 200px;
    font-size: 50px;
    font-weight: 20px;
    color: #ffffff;
}
.B2 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.B3 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.B4 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.B5 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.B6 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}

.C {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.C1 {
    width: 200px;
    font-size: 50px;
    font-weight: 20px;
    color: #ffffff;
}
.C2 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.C3 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.C4 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.C5 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.C6 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}

.D {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.D1 {
    width: 200px;
    font-size: 50px;
    font-weight: 20px;
    color: #ffffff;
}
.D2 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.D3 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.D4 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.D5 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
.D6 {
    width: 200px;
    font-size: 20px;
    color: #ffffff;
}
@media only screen and (max-width:600px) {
    #main8 {
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: #ffffff;
        padding: 50px;
        flex-direction: column;
        gap: 30px;
    }
}